<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Supprimer une note</title>
</head>
<body>

<h1>Supprimer une note</h1>

<nav>
  <a th:href="@{/notes/ui/ajouter}">Ajouter</a> |
  <a th:href="@{/notes/ui/modifier}">Modifier</a> |
  <a th:href="@{/notes/ui/supprimer}">Supprimer</a>
</nav>

<hr>

<form th:action="@{/notes/ui/supprimer}" method="post">
  <div>
    <label for="id">ID de la note à supprimer:</label>
    <input type="text" name="id" id="id" required>
  </div>

  <br>
  <button type="submit" style="color:red;">Supprimer</button>
</form>

</body>
</html>
