server:
  port: 8090
  forward-headers-strategy: framework

spring:
  application:
    name: gateway

  cloud:
    gateway:
      default-filters:
        - PreserveHostHeader

      routes:
        - id: home
          uri: http://frontservice:8080
          predicates:
            - Path=/

        - id: patients-ui
          uri: http://patientservice:8081
          predicates:
            - Path=/
          filters:
            - SetPath=/patients/ui/liste

        - id: notes-ui
          uri: http://noteservice:8082
          predicates:
            - Path=/notes/ui/**

        - id: risk-ui
          uri: http://riskservice:8083
          predicates:
            - Path=/risk/ui/**

        - id: patients-api
          uri: http://patientservice:8081
          predicates:
            - Path=/patients/**

        - id: notes-api
          uri: http://noteservice:8082
          predicates:
            - Path=/notes/**

        - id: risk-api
          uri: http://riskservice:8083
          predicates:
            - Path=/risk/**


